body {
    position: relative;
    padding-top: 5rem;
    min-height: 100vh;
}

.contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
    margin-bottom: 130px;
    position: relative;
    
}

div iframe{
    width: 100%;
    height: 600px;
}

.iframe {
    grid-column: 1fr;
}

.form {
    grid-column: 1fr;
    margin: 10px;
}

form h2{
    margin-left: 5px
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

input[type="checkbox"] {
    width: auto;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.form-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#captcha {
    width: 200px;
    color: black;
    border-color: black;
    text-align: center;
    font-size: 40px;
    background-image: url('../img/captcha.png');

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#refreshcaptcha:hover{
    cursor: pointer;
}

footer {
    margin-top: auto;
}


@media only screen and (max-width: 768px) {
    .contacto {
        display: grid;
        grid-template-columns: 1fr;
    }

    .form {
        order: 1;
    }

    .iframe {
        order: 2;
    }

}